<div>
  <div class="" style="margin-left: 10px">
    <div class="row">
      <div class="col-md-1 pr-1">
        <div class="form-group">
          <div>
            <img style="width: 40px; height: 40px;border-radius: 40px" src="{{comment.user.avatar}}" alt="user-comment">
          </div>
        </div>
      </div>
      <div class="col-md-11">
        <div class="form-group row">
          <div class="col-md-11" style="outline: 0;background-color:#dee2e6;border-radius: 10px;">
            <p style="font-weight: bold; margin-top: 10px">{{comment.user.first_name}} {{comment.user.last_name}}</p>
            <ng-container *ngIf="!toggleEditFormComment">
              <p>{{comment.content}}</p>
            </ng-container>
            <ng-container *ngIf="toggleEditFormComment">
              <div>
                <mat-form-field appearance="outline" fxFill>
                  <label for="post-content"></label>
                  <textarea id="post-content" matInput
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="3"
                            style="font-size: 18px"
                            type="text" id="content" [value]="comment.content">
              </textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="changeContent()">Cập nhật</button>
                <button mat-raised-button color="warn" style="margin-left: 10px; margin-bottom: 10px"
                        (click)="toggleForm()">Quay lại
                </button>
              </div>
            </ng-container>
          </div>
          <ng-container
            *ngIf="comment.user.username === currentUser.username || post.user.username === currentUser.username">
            <div class="col-md-1">
              <button mat-mini-fab color="primary" [matMenuTriggerFor]="commentMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #commentMenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item (click)="toggleForm()">
                  <mat-icon>edit</mat-icon>
                  <span>Sửa nội dung</span>
                </button>
                <button mat-menu-item (click)="openDeletePrompt()">
                  <mat-icon>delete_sweep</mat-icon>
                  <span>Xoá comment</span>
                </button>
              </mat-menu>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

