<div class="card-body">
  <div class="row">
    <div class="col-md-1 pr-1">
      <div class="form-group">
        <div>
          <img style="width: 50px; height: 50px;border-radius: 50px" src="{{otherUser.avatar}}" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-8 px-10">
      <div class="form-group">
        <span style="font-weight: bold">{{ otherUser.first_name }}</span><span
        style="font-weight: bold"> {{ otherUser.last_name }}</span><br>
        <span>{{ postData.createDate}}</span>
      </div>
    </div>
    <ng-container *ngIf="userLogged.id === otherUser.id">
      <div class="col-md-1 px-10">
        <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Sửa nội dung</span>
          </button>
          <button mat-menu-item>
            <mat-icon>image</mat-icon>
            <span>Thay ảnh</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete_sweep</mat-icon>
            <span>Xoá ảnh</span>
          </button>
        </mat-menu>
      </div>
      <div class="col-md-1 px-10">
        <button mat-mini-fab color="primary">
          <mat-icon>visibility</mat-icon>
        </button>
      </div>
      <div class="col-md-1 px-10">
        <button mat-mini-fab color="warn" (click)="deletePost(postData.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-md-12 pl-1">
      <div class="form-group">
        <p style="margin-left: 10px; font-size: 20px; font-weight: bold">{{ postData.content }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 pl-1">
      <div class="form-group">
        <img src="{{ postData.image }}" alt="">
      </div>
    </div>
  </div>
  <!--Hiển thị số lượng like-->
  <p>
    <a href="#"><span style="color: #1b1e21; font-size: 15px">{{numberOfReaction}} người thích</span></a>
  </p>
  <hr>
  <!--Nút like va comment-->
  <div class="row">
    <div class="col-md-6" style="display: flex; justify-content: center; font-size: 25px;">
      <div class="form-group row">
        <button mat-mini-fab color="primary" (click)="doLikeThisPost()">
          <mat-icon>thumb_up_alt</mat-icon>
        </button>
        <span class="status-interaction-text">Thích</span>
      </div>
    </div>
    <div class="col-md-6" style="display: flex; justify-content: center; font-size: 25px;">
      <div class="form-group row">
        <button mat-mini-fab color="accent" (click)="getComment(postData.id)">
          <mat-icon>mode_comment</mat-icon>
        </button>
        <span class="status-interaction-text">Bình luận</span>
      </div>
    </div>
  </div>
  <hr>
</div>

<app-comment-list [commentOfPost]="commentList"></app-comment-list>

<app-comment-form [postId]="postData.id" [userLoggedIn]="userLogged"
                  (commentSubmitted)="updateCommentList($event)"></app-comment-form>
