<div class="list-unstyled team-members">
  <div class="row">
    <div class="col-md-2 col-2">
      <div class="avatar">
        <img src="{{friend.avatar}}" alt="Circle Image"
             class="img-circle img-no-padding img-responsive">
      </div>
    </div>
    <div class="col-md-7 col-7">
      {{friend.first_name}} {{friend.last_name}}
      <br/>
      <span class="text-muted">
                  <small>{{friend.username}}</small>
                </span>
    </div>
    <div class="col-md-3 col-3 text-right">
      <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i>
      </button>
    </div>
  </div>
</div>
