<div class="card card-user" *ngFor="let post of posts">
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-md-1 pr-1">
          <div class="form-group">
            <div>
              <img style="width: 50px; height: 50px;border-radius: 50px" src="{{ user.avatar }}}" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-10 px-10">
          <div class="form-group">
            <span style="font-weight: bold">{{ user.first_name }}</span><span
            style="font-weight: bold"> {{ user.last_name }}</span><br>
            <span>{{ post.createDate}}</span>
          </div>
        </div>
        <div class="col-md-1 px-10">
          <button mat-mini-fab color="warn" (click)="deletePost(post.id)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pl-1">
          <div class="form-group">
            <p style="margin-left: 10px; font-size: 20px">{{ post.content }}</p>
          </div>
        </div>
      </div>
      <div>
        <!--Hiển thị ảnh upload ở đây-->
      </div>

      <!--Hiển thị số lượng like-->
      <p>
        <a href="#"><span style="color: #1b1e21; font-size: 15px">10 người thích</span></a>
      </p>
      <hr>

      <!--Nút like va comment-->
      <div class="row">
        <div class="col-md-6" style="display: flex; justify-content: center; font-size: 25px;">
          <div class="form-group row">
            <button mat-mini-fab color="primary">
              <mat-icon>thumb_up_alt</mat-icon>
            </button>
            <span class="status-interaction-text">Thích</span>
          </div>
        </div>
        <div class="col-md-6" style="display: flex; justify-content: center; font-size: 25px;">
          <div class="form-group row">
            <button mat-mini-fab color="accent">
              <mat-icon>mode_comment</mat-icon>
            </button>
            <span class="status-interaction-text">Bình luận</span>
          </div>
        </div>
      </div>
      <hr>
    </form>
  </div>

  <!--List các bình luận  -->
  <div>
    <div class="" style="margin-left: 10px">
      <form>
        <div class="row">
          <div class="col-md-1 pr-1">
            <div class="form-group">
              <div>
                <img style="width: 40px; height: 40px;border-radius: 40px" src="{{ user.avatar }}}" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-11">
            <div class="form-group row">
              <div class="col-md-10" style="outline: 0;background-color:#dee2e6;border-radius: 10px;">
                <span style="font-weight: bold">Đào Văn </span> <span style="font-weight: bold">Phi</span><br>
                <p>content comment</p>
              </div>
              <div class="col-md-2">
                <button
                  style="border: none;border-width: 0; border-radius: 40px;  box-shadow: none; outline: 0; background-color:#dee2e6;min-height: 40px; width: 40px;">
                  <i class="fa fa-ellipsis-h"></i></button>
              </div>
              <span>
                    <a href="">Thích</a>
                    <a href="" style="margin-left: 10px">Trả lời</a>
                    <span style="margin-left: 10px">1 phút</span>
                    </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--Component form bình luận-->
  <div class="" style="margin-left: 10px">
    <form>
      <div class="row">
        <div class="col-md-1 pr-1">
          <div class="form-group">
            <div>
              <img style="width: 40px; height: 40px;border-radius: 40px" src="{{ user.avatar }}}" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-11">
          <div class="form-group row">
            <div class="col-md-10"
                 style="outline: 0;background-color:#dee2e6;border-radius: 40px; width: 450px; height: 40px">
              <input type="text"
                     style="border: none; border-width: 0;  box-shadow: none; outline: 0;    background-color:#dee2e6;border-radius: 40px;  width: 450px; height: 40px"
                     placeholder="Viết bình luận...">
            </div>
            <div class="col-md-2">
              <button
                style="border: none;border-width: 0; border-radius: 40px;  box-shadow: none; outline: 0; background-color:#dee2e6;height: 40px; width: 40px;">
                <i class="fa fa-comments"></i></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
