<div class="card card-user">
  <div class="image">
    <img src="assets/img/damir-bosnjak.jpg" alt="...">
  </div>
  <div class="card-body">
    <div class="author">
      <a href="#">
        <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
        <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
      </a>
      <p class="description">
        {{user.first_name}} {{user.last_name}}
      </p>
    </div>
    <p class="description text-center">
      {{user.description}}
    </p>
  </div>
  <div class="card-footer">
    <hr>
    <div class="button-container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-6 ml-auto">
          <h5>Email: {{user.email}}</h5>
        </div>
        <br>
        <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
          <h5>Gender: {{user.gender}}</h5>
        </div>
        <br>
        <div class="col-lg-3 mr-auto">
          <h5>BirthDay: {{user.birth_date}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
