<div class="card card-user">
  <div class="image">
    <img src="assets/img/damir-bosnjak.jpg" alt="...">
  </div>
  <div class="card-body">
    <div class="author">
      <a href="#">
        <img class="avatar border-gray" src="{{user.avatar}}" alt="...">
        <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
      </a>
      <p class="description">
        {{user.username}}
      </p>
      <hr>
      <button mat-raised-button color="primary" (click)="openEditProfileDialog()">Cập nhật thông tin</button>
      <!--      <div class="card-footer">-->
<!--        &lt;!&ndash;    <hr>&ndash;&gt;-->
<!--        <div class="button-container">-->
<!--          <div class="row">-->
<!--            <mat-label>Email: {{user.email}}</mat-label>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <mat-label>Gender: {{user.gender}}</mat-label>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <mat-label>Phone: {{user.phone}}</mat-label>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <mat-label>Birthday: {{user.birth_date}}</mat-label>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <mat-label>Address: {{user.address}}</mat-label>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
<!--  <div class="card-footer">-->
<!--&lt;!&ndash;    <hr>&ndash;&gt;-->
<!--    <div class="button-container">-->
<!--      <div class="row">-->
<!--        <mat-label>Email: {{user.email}}</mat-label>-->
<!--        <mat-icon matPrefix></mat-icon>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <mat-label>Gender: {{user.gender}}</mat-label>-->
<!--        <mat-icon matPrefix></mat-icon>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <mat-label>Phone: {{user.phone}}</mat-label>-->
<!--        <mat-icon matPrefix></mat-icon>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <mat-label>Birthday: {{user.birth_date}}</mat-label>-->
<!--        <mat-icon matPrefix></mat-icon>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <mat-label>Address: {{user.address}}</mat-label>-->
<!--        <mat-icon matPrefix></mat-icon>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
