mat-select {
  height: 8px;
}

.post-status-button {
  display: block;
  width: 94%;
  margin: 0 auto 15px;
  border-radius: 5px;
}

.status-interaction-text {
  font-size: 15px;
  font-weight: bold;
  height: 20px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

