<div class="" style="margin-left: 10px">
  <form>
    <div class="row">
      <div class="col-md-1 pr-1">
        <div class="form-group">
          <div>
            <img style="width: 40px; height: 40px;border-radius: 40px" src="#" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-11">
        <div class="form-group row">
          <div class="col-md-11" style="padding-left: 0; padding-right: 0">
            <mat-form-field appearance="outline" fxFill>
              <input matInput type="text"
                     placeholder="Viết bình luận...">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
