<navbar-cmp [currentUser]="userLoggedIn" [userRequest]="userRequested">
  <button class="navbar-button" mat-raised-button color="accent" (click)="showFriendRequest()">
    <mat-icon>supervisor_account</mat-icon>
  </button>
</navbar-cmp>
<div class="wrapper" style="background-color: #f4f3ef !important;">
  <div class="main-panel">
    <div class="content">
      <div class="row">
        <div class="col-md-4">
          <app-show-profile [userRequest]="userRequested" [currentUser]="userLoggedIn"></app-show-profile>
          <app-friend-list [userRequest]="userRequested"></app-friend-list>
        </div>
        <div class="col-md-8">
          <app-post-form [currentUser]="userLoggedIn" [userRequest]="userRequested"></app-post-form>
          <app-post-list [posts]="posts" [userRequest]="userRequested" [currentUser]="userLoggedIn"></app-post-list>
        </div>
      </div>
    </div>
  </div>
</div>
