<navbar-cmp [currentUser]="userLoggedIn" [userRequest]="userRequested">
  <button class="navbar-button" mat-raised-button color="accent" (click)="showFriendRequest()">
    <mat-icon>supervisor_account</mat-icon>
  </button>
</navbar-cmp>
<div class="wrapper" style="background-color: #f4f3ef !important;">
  <div class="main-panel">
    <div class="content">
      <div class="row">
        <div class="col-md-4">
          <app-show-profile [userRequest]="userRequested" [currentUser]="userLoggedIn"
                            [listRequestSent]="listFriendRequestSend"
                            [listRequestReceive]="listFriendRequestReceive"
                            (acceptFriendEvent)="handleFriendEvent($event)"
                            (denyFriendEvent)="handleDenyFriendEvent()"
                            (removeFriendEvent)="handleRemoveFriendEvent()"
                            [friendList]="currentFriendList"></app-show-profile>
          <ng-container *ngIf="isFriendListLoaded">
            <app-friend-list [friendList]="otherFriendList"></app-friend-list>
          </ng-container>
        </div>
        <div class="col-md-8">

          <ng-container *ngIf="userLoggedIn.id === userRequested.id">
            <app-post-form [currentUser]="userLoggedIn" (whenClickPostButton)="updatePost($event)">
            </app-post-form>
          </ng-container>
          <ng-container *ngIf="isPostLoaded">
            <ng-container *ngIf="posts.length > 0">
              <app-post-list [posts]="posts" [userRequest]="userRequested" [currentUser]="userLoggedIn"></app-post-list>
            </ng-container>

            <ng-container *ngIf="posts.length === 0">
              <div class="card card-user">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 pl-1">
                      <div class="form-group no-post-container">
                        <h4 style="font-style: italic;">Người dùng không có bài viết nào</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
