<form [formGroup]="profile">
  <div class="row">
    <div class="col-md-6 pr-1">
      <div class="form-group">
        <mat-form-field appearance="outline" fxFill>
          <mat-label>Tên của bạn</mat-label>
          <input matInput type="text" placeholder="Tên" formControlName="firstName">
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-6 pl-1">
      <div class="form-group">
        <mat-form-field appearance="outline" fxFill>
          <mat-label>Họ</mat-label>
          <input matInput type="text" placeholder="Họ" formControlName="lastName">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 pr-1">
      <div class="form-group">
        <mat-form-field appearance="outline" fxFill>
          <mat-label>Email</mat-label>
          <mat-icon matSuffix>email</mat-icon>
          <input matInput disabled type="text" placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3 px-1">
      <div class="form-group">
        <mat-form-field appearance="outline" fxFill>
          <mat-label>Ngày sinh</mat-label>
          <input [min]="minDate" [max]="maxDate" [matDatepicker]="birthday" matInput type="text"
                 placeholder="Ngày sinh" formControlName="birthDate">
          <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
          <mat-datepicker #birthday></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-4 pl-1">
      <div class="form-group">
        <mat-form-field appearance="outline" fxFill>
          <mat-label>Username</mat-label>
          <input matInput type="text" placeholder="Username" formControlName="username">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <mat-form-field appearance="outline" fxFill>
          <mat-label>Địa chỉ</mat-label>
          <input matInput type="text" placeholder="Address" formControlName="address">
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <mat-form-field appearance="outline" fxFill>
          <mat-label>Số điện thoại</mat-label>
          <input matInput type="text" placeholder="Phone" formControlName="phone">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <mat-form-field appearance="outline" fxFill>
          <mat-label>Châm ngôn ưa thích</mat-label>
          <textarea matInput type="text" placeholder="About me" formControlName="aboutMe">
          </textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="update ml-auto mr-auto">
      <button type="submit" class="btn btn-primary btn-round">Cập nhật</button>
    </div>
  </div>
</form>

