.example-container {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #303F9F;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
mat-card {
  width: 30%;
  margin: 10% auto;
  border-radius: 8px;
}
mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

.login-button {
  display: block;
  width: 80%;
  margin: 20px auto;
  border-radius: 20px;
}
a {
  display: block;
}
mat-checkbox {
  margin-top:10px;
}
mat-radio-button {
  margin-left: 30px;
}
mat-radio-group {
  margin-left: 100px;
}

.example-full-width {
  width: 80%;
  margin: auto;
}

td {
  padding-right: 1px;
}
