<div class="alert alert-success" role="alert" *ngIf="isShowSuccess">
  {{message}}
</div>

<div class="example-container">
  <mat-card class="mat-elevation-z12">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <!--       Form sign in-->
      <mat-tab label="Sign In">
        <mat-card-content>
          <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmitSignIn()" class="sign-in-form">
            <div class="row-control">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Email" formControlName="email">
                </label>
              </mat-form-field>
              <ng-container *ngIf="loginForm.touched && loginForm.invalid">
                <mat-error *ngIf="loginForm.get('email').hasError('required')">
                  Trường không được để trống
                </mat-error>
                <mat-error *ngIf="loginForm.get('email').hasError('email')">
                  Email không đúng định dạng
                </mat-error>
              </ng-container>
            </div>
            <div class="row-control">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Password" formControlName="password" type="password">
                </label>
              </mat-form-field>
              <ng-container *ngIf="loginForm.touched && loginForm.invalid">
                <mat-error *ngIf="loginForm.get('password').hasError('required')">Trường không được để trống</mat-error>
                <mat-error *ngIf="loginForm.get('password').hasError('minlength') ||
                  loginForm.get('password').hasError('maxlength')">
                  Mật khẩu có độ dài từ
                  {{loginForm.get('password').errors.minlength['requiredLength']}} đến
                  {{loginForm.get('password').errors.maxlength['requiredLength']}} ký tự
                </mat-error>
                <mat-error *ngIf="loginForm.get('password').hasError('pattern')">
                  Mật khẩu không đúng định dạng
                </mat-error>
              </ng-container>
            </div>
            <!--            <div class="row-control">-->
            <!--              <mat-checkbox class="example-margin">Remember Me!</mat-checkbox>-->
            <!--            </div>-->
            <div class="example-button-row">
              <button mat-raised-button color="primary" type="submit" class="login-button">Đăng nhập</button>
            </div>
            <div class="example-button-row">
              <a mat-button routerLink="forgot-password" color="warn">Quên mật khẩu</a>
            </div>
          </form>
        </mat-card-content>
      </mat-tab>

      <!--       Form sign up-->
      <mat-tab label="Sign Up">
        <mat-card-content>
          <form novalidate [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()" class="sign-in-form">
            <div class="row-control">
              <table class="example-full-width">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                      <label>
                        <input matInput placeholder="First Name" formControlName="firstName">
                      </label>
                    </mat-form-field>
                    <ng-container *ngIf="signUpForm.touched && signUpForm.invalid">
                      <mat-error *ngIf="signUpForm.get('firstName').hasError('required')">
                        Trường không được để trống
                      </mat-error>
                      <mat-error *ngIf="signUpForm.get('firstName').hasError('minlength') ||
                          signUpForm.get('firstName').hasError('maxlength')">
                        Tên có độ dài từ
                        {{signUpForm.get('firstName').errors.minlength['requiredLength']}} đến
                        {{signUpForm.get('firstName').errors.maxlength['requiredLength']}} ký tự
                      </mat-error>
                      <mat-error *ngIf="signUpForm.get('firstName').hasError('pattern')">
                        Tên không được chứa ký tự đặc biệt
                      </mat-error>
                    </ng-container>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <label>
                        <input matInput placeholder="Last Name" formControlName="lastName">
                      </label>
                    </mat-form-field>
                    <ng-container *ngIf="signUpForm.touched && signUpForm.invalid">
                      <mat-error *ngIf="signUpForm.get('lastName').hasError('required')">
                        Trường không được để trống
                      </mat-error>
                      <mat-error *ngIf="signUpForm.get('lastName').hasError('minlength') ||
                          signUpForm.get('lastName').hasError('maxlength')">
                        Tên có độ dài từ
                        {{signUpForm.get('lastName').errors.minlength['requiredLength']}} đến
                        {{signUpForm.get('lastName').errors.maxlength['requiredLength']}} ký tự
                      </mat-error>
                      <mat-error *ngIf="signUpForm.get('lastName').hasError('pattern')">
                        Tên không được chứa ký tự đặc biệt
                      </mat-error>
                    </ng-container>
                  </td>
                </tr>
              </table>
            </div>
            <div class="row-control">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Email" formControlName="email">
                </label>
              </mat-form-field>
              <ng-container *ngIf="signUpForm.touched && signUpForm.invalid">
                <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                  Trường không được để trống.
                </mat-error>
                <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                  Email không đúng định dạng
                </mat-error>
              </ng-container>
            </div>
            <div class="row-control">
              <fieldset formGroupName="pwGroup">
                <mat-form-field>
                  <label>
                    <input matInput placeholder="Password" formControlName="password" type="password">
                  </label>
                </mat-form-field>
                <mat-form-field>
                  <label>
                    <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password">
                  </label>
                </mat-form-field>
              </fieldset>
              <ng-container *ngIf="signUpForm.touched && signUpForm.invalid">
                <mat-error *ngIf="signUpForm.get('pwGroup').get('password').hasError('required')">
                  Trường không được để trống.
                </mat-error>
                <mat-error *ngIf="signUpForm.get('pwGroup').get('password').hasError('minlength') ||
                          signUpForm.get('pwGroup').get('password').hasError('maxlength')">
                  Mật khẩu có độ dài từ 6 đến 32 ký tự
                </mat-error>
                <mat-error *ngIf="signUpForm.get('pwGroup').get('password').hasError('pattern')">
                  Mật khẩu phải chứa một chữ cái, một số và một ký tự đặc biệt
                </mat-error>
                <mat-error *ngIf="signUpForm.hasError('passWordNotMatch', 'pwGroup')">
                  Mật khẩu không trùng nhau
                </mat-error>
              </ng-container>
            </div>
            <div class="row-control">
              <mat-radio-group aria-label="Giới tính" formControlName="gender">
                <mat-radio-button value="1">Male</mat-radio-button>
                <mat-radio-button value="0">Female</mat-radio-button>
              </mat-radio-group>
              <ng-container *ngIf="signUpForm.touched && signUpForm.invalid">
                <mat-error *ngIf="signUpForm.get('gender').hasError('required')">
                  Vui lòng chọn giới tính của bạn
                </mat-error>
              </ng-container>
            </div>
            <div class="row-control">
              <mat-form-field>
                <label>
                  <input [min]="minDate" [max]=maxDate matInput [matDatepicker]="birthday" formControlName="birthday"
                         placeholder="Birthday">
                </label>
                <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                <mat-datepicker #birthday></mat-datepicker>
              </mat-form-field>
              <ng-container *ngIf="signUpForm.touched && signUpForm.invalid">
                <mat-error *ngIf="signUpForm.get('birthday').hasError('required') &&
                signUpForm.touched">Vui lòng nhập ngày sinh
                </mat-error>
              </ng-container>
            </div>
            <div class="example-button-row">
              <button mat-raised-button color="primary" type="submit" class="login-button">Đăng ký</button>
            </div>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

