 <div class="example-container">
   <mat-card class="mat-elevation-z12">
     <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
<!--       Form sign in-->
       <mat-tab label="Sign In">
         <mat-card-content>
           <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmitSignIn()" class="sign-in-form">
             <div class="row-control">
               <mat-form-field>
                 <label>
                   <input matInput placeholder="Email" formControlName="email" required>
                 </label>
                 <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                   <span *ngIf="loginForm.controls.email.errors.required">This field is mandatory.</span>
                   <span *ngIf="loginForm.controls.email.errors.pattern">This field is invalid</span>
                 </mat-error>
               </mat-form-field>
             </div>
             <div class="row-control">
               <mat-form-field>
                 <label>
                   <input matInput placeholder="Password" formControlName="password" type="password">
                 </label>
                 <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                   <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory.</span>
                   <span *ngIf="loginForm.controls.password.errors.minlength || loginForm.controls.password.errors.maxlength">Length from 6 to 32 characters</span>
                   <span *ngIf="(loginForm.controls.password.errors.minlength || loginForm.controls.password.errors.maxlength) && loginForm.controls.password.errors.pattern">
                    Only alphabet, digit and at least one of !@#$%^&*
                  </span>
                 </mat-error>
               </mat-form-field>
             </div>
             <div class="row-control">
               <mat-checkbox class="example-margin">Remember Me!</mat-checkbox>
             </div>
             <div class="example-button-row">
               <button mat-raised-button color="primary" type="submit" class="login-button">Sign In</button>
             </div>
             <div class="example-button-row">
               <a mat-button routerLink="." color="warn">Forgot Password</a>
             </div>
           </form>
         </mat-card-content>
       </mat-tab>

<!--       Form sign up-->
       <mat-tab label="Sign In">
         <mat-card-content>
           <form novalidate [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()" class="sign-in-form">
             <div class="row-control">
               <mat-form-field>
                 <label>
                   <input matInput placeholder="Username" formControlName="username" required type="text">
                 </label>
                 <mat-error *ngIf="signUpForm.controls.username.touched && signUpForm.controls.username.invalid">
                   <span *ngIf="signUpForm.controls.username.errors.required">This field is mandatory.</span>
                   <span *ngIf="signUpForm.controls.username.errors.minlength || signUpForm.controls.username.errors.maxlength">Length from 6 to 32 characters</span>
                   <span *ngIf="(signUpForm.controls.username.errors.minlength || signUpForm.controls.username.errors.maxlength) && signUpForm.controls.username.errors.pattern">
                    Only alphabet, digit and at least one of !@#$%^&*
                  </span>
                 </mat-error>
               </mat-form-field>
             </div>
             <div class="row-control">
               <mat-form-field>
                 <label>
                   <input matInput placeholder="Email" formControlName="email" required>
                 </label>
                 <mat-error *ngIf="signUpForm.controls.email.touched && loginForm.controls.email.invalid">
                   <span *ngIf="signUpForm.controls.email.errors.required">This field is mandatory.</span>
                   <span *ngIf="signUpForm.controls.email.errors.pattern">This field is invalid</span>
                 </mat-error>
               </mat-form-field>
             </div>
             <div class="row-control">
               <mat-form-field>
                 <label>
                   <input matInput placeholder="Password" formControlName="password" type="password">
                 </label>
                 <mat-error *ngIf="signUpForm.controls.password.touched && loginForm.controls.password.invalid">
                   <span *ngIf="signUpForm.controls.password.errors.required">This field is mandatory.</span>
                   <span *ngIf="signUpForm.controls.password.errors.minlength || signUpForm.controls.password.errors.maxlength">Length from 6 to 32 characters</span>
                   <span *ngIf="(signUpForm.controls.password.errors.minlength || signUpForm.controls.password.errors.maxlength) && signUpForm.controls.password.errors.pattern">
                    Only alphabet, digit and at least one of !@#$%^&*
                  </span>
                 </mat-error>
               </mat-form-field>
             </div>
             <div class="row-control">
               <mat-form-field>
                 <label>
                   <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password">
                 </label>
                 <mat-error *ngIf="signUpForm.controls.confirmPassword.touched && signUpForm.controls.confirmPassword.invalid">
                   <span *ngIf="signUpForm.controls.confirmPassword.errors.required">This field is mandatory.</span>
                   <span *ngIf="signUpForm.controls.confirmPassword.errors.minlength || signUpForm.controls.confirmPassword.errors.maxlength">Length from 6 to 32 characters</span>
                   <span *ngIf="(signUpForm.controls.confirmPassword.errors.minlength || signUpForm.controls.confirmPassword.errors.maxlength) && signUpForm.controls.confirmPassword.errors.pattern">
                    Only alphabet, digit and at least one of !@#$%^&*
                  </span>
                 </mat-error>
               </mat-form-field>
             </div>
               <div class="example-button-row">
                 <button mat-raised-button color="primary" type="submit" class="login-button">Sign Up</button>
               </div>
           </form>
         </mat-card-content>
       </mat-tab>
     </mat-tab-group>
   </mat-card>
  </div>

