<div class="example-container">
  <mat-card-content>
    <form novalidate [formGroup]="resetPassForm" (ngSubmit)="onSubmitResetPass()" class="sign-in-form">
      <div class="row-control">
        <h2>Reset Password</h2>
      </div>
      <div class="row-control">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="resetPassForm.controls.email.touched && resetPassForm.controls.email.invalid">
            <span *ngIf="resetPassForm.controls.email.errors.required">This field is mandatory.</span>
            <span *ngIf="resetPassForm.controls.email.errors.pattern">This field is invalid</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit" class="login-button">Send</button>
      </div>
      <div class="example-button-row">
        <a mat-button routerLink="" color="warn">Go to back</a>
      </div>
    </form>
  </mat-card-content>
</div>
