<div class="row">
  <div class="col-lg-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 style="text-align: center" class="card-title">User Profile</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="Company" value="{{user.first_name}}" disabled>
              </div>
            </div>
            <div class="col-md-5 px-1">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" value="{{user.last_name}}" disabled>
              </div>
            </div><div class="col-md-2 pl-1">
              <div class="form-group">
                <label>Gender</label>
                <input type="text" class="form-control" placeholder="Gender" value="{{gender1}}" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 pr-1">
              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="Home Address" value="{{user.address}}" disabled>
              </div>
            </div> <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" placeholder="UserName" value="{{user.username}}" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Company" value="{{user.email}}" disabled>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Date Of Birth</label>
                <input type="text" class="form-control" placeholder="DoB" value="{{user.birth_date}}" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>About Me</label>
                <textarea class="form-control textarea" disabled>{{user.about_me}}</textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
